# 1
`d = {'x': 10, 'y': 20, 'z': 30} `
1. Print what value y has
2. Print all the keys
3. Write a Python program to iterate over the dictionary using for loops, print every value.
4. Add 5 to each value in the dictonary
5. Can you use a dictionary comprehesion for above mentioned question?
6. Write a Python program to sum all the values in the dictionary.

In [4]:
d = {'x': 10, 'y': 20, 'z': 30}
d['y']

20

In [5]:
d.keys()

dict_keys(['x', 'y', 'z'])

In [6]:
for k, v in d.items():
    print(v)

10
20
30

In [9]:
for k, v in d.items():
    v = v + 5
    print(v)

15
25
35

# 2
1. How many unique cities does the dataset contain?
2. How many rows and columns does the dataset have?
3. How many unique cities does the dataframe contain?

In [11]:
import pandas as pd

df = pd.read_csv('/home/daniela/IT_learning/Python/Pyladiesams/homework_my/data/coronavirusdataset/Case.csv')
df.head(10)

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
5,1000006,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006
6,1000007,Seoul,Jung-gu,True,Jung-gu Fashion Company,7,37.562405,126.984377
7,1000008,Seoul,from other city,True,Shincheonji Church,8,-,-
8,1000009,Seoul,-,False,overseas inflow,313,-,-
9,1000010,Seoul,-,False,contact with patient,18,-,-

In [20]:
len(df.city.unique())

34

In [21]:
df.shape

(112, 8)

# 3
1. Prove the dataframe has no missing values
2. What percentage of the dataframe has information about a case in Seoul?
3. How many confirmed cases in Seoul?

In [22]:
df.isnull().values.any()

False

In [43]:
seoul = df[df.province == "Seoul"].shape[0]
seoul

11

In [50]:
percentage = seoul/df.shape[0]*100
percentage = round(percentage, 2)
percentage

9.82